/* Dark mode variables for ceramic theme */
$theme-color-dark: #8b8ca8;
$text-color-dark: #e4e6ea;
$text-color-secondary-dark: #b8bcc8;
$text-grey-dark: #6c7b95;
$divider-dark: #2a2d35;
$lighter-grey-dark: #4a4d55;
$darker-grey-dark: #9ca3af;
$smoky-white-dark: #1a1d23;
$heart-dark: #fb866a;
$background-dark: #0f1419;
$sidebar-background-dark: #1e2328;